body{
    background-image: url(https://cdn.wallpaperhub.app/cloudcache/2/b/c/3/7/5/2bc375a59ea8bb65dbd995b77ab56cbc3107a651.jpg);
    background-size: 1920px 1080px;
    display: flex;
    justify-content: center;
    
}
span{
    margin-top: 400px;
    width: 40px;
    height: 40px;
    gap: 5px;
    background-color: black;
    box-sizing: border-box;
}